#header{
    height: 120px;
    width: 100%;
    background-color: palegreen;
    position: fixed;
    z-index: 99999;
}
.banner{
    height: 120px;
    
}

.col2 {
    width: 350px;
    margin: auto;
}

.sep {
    width: 190px;
}

.center {
    margin: auto;
}


#guide-name {
    text-align: center;
    padding-top: 10px;
}

.navbar {
    overflow: hidden;
    background-color: #333;
    position: fixed; 
    top: 0; 
    width: 100%; 
    z-index: 99999999;
  }
  
  .dropdown {
    float: left;
    overflow: hidden;
  }
  
  .dropdown .dropbtn {
    font-size: 16px;  
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
  }
  p{
      text-align: justify;
      padding: 10px;
      padding-left: 20px;
      padding-right: 20px;
  }
  #guide-photo{
      margin:auto;
      display: flex;
  }
  .title{
      text-align: center;
      margin-top: 5%;
  }