#packDescription {
    width: 100%;
    padding: 15px;

}

#background {
    position: fixed;
    width: 100%;
    height: 100vh;
    background-image: url('../resources/background/bg_tour_kenya.jpg');
    background-size: cover;
    z-index: -1212;

}

#rest {
    position: absolute;
}

#packDescription > .container {
    width: 40%;
    height: 340px;
    margin: auto;
    background-color:bisque;
    border-radius: 20px; 
    padding: 20px;
}

#packDescription > .container > .map {
    display: inline-block;
    width: 55%;
    height: 300px;
    padding: 5px;
    background-image: url('../resources/maps/basic_safari_kenya.png');
    background-size: cover;
    
}

#basicQueniaMap {

}



#packDescription > .container > .dayList {
    display: inline-block;
    width: 40%;
    height: 300px;
    padding-top:30px;
    font-size: 13px
}

#packDescription > .container > .dayList > ul > li {
    list-style-type: none;
}

#packDescription > .container > .dayList > ul > li > a{
    color: brown;
    text-decoration: none;
}

#packDescription > .container > .dayList > ul > li > a:hover{
    color: darkgreen;
}


#description {
    padding: 15px;
    width: 40%;
    margin: auto;
    text-align: center;
}

.dayContainer {
    width: 60%;
    margin: auto;
    height: 300px;
    padding: 15px;
    background-color: bisque;
    border-radius: 20px;
    background-image: url(/resources/)
}

.dayImage {
    display: inline-block;
    width: 40%;
    background-size: cover;
    height: 270px;
    border-radius: 10px;
}

.dayImage > img {
    width: 80%;
    margin: 0px 5px;
    border-radius: 10px;
}

.dayDesc {
    display: inline-block;
    width: 55%;
    font-size: 13px;
    text-align: justify;
}






