 #header{
     height: 120px;
     width: 100%;
     background-color: palegreen;
     position: fixed;
     z-index: 99999;
 }

.content {
  min-height: 500px; 
  width: 100%;
  height: 100vh;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: red;
}

 #queniaContent {
    background-image: url("../resources/quenia-bg.jpg");
 }

 #tanzaniaContent {
    background-image: url("../resources/tanzania-bg.jpg");
    z-index: 9999999999;
 }

 #footer {
     width: 100%;
    height: 100px;
    background-color: red;
 }

 .info {
     position: relative;
     right: 10%;
     top: 200px;
     min-width: 400px;
     width: 25%;
     background-color: green;
     padding: 15px;
     z-index: 9999;
 }

 .info>.packs {
     position: relative;
     display: inline-block;
     margin: auto;
     width: 49%;
     border: 2px solid red;
 }

.packs > .packTitle {
    font-size: 24px;
    display: block;
}
.packTitle > p{
    text-align: center;
    display: block;
}

.packInfo {
    display: block;
}

.more {
    position: relative;
    display: flex;
    clear: both;
    display: block;
    padding: 10px 0px;
    background-color: blue;
}

.more > a {
    display: inline-block;
    width: 49%;
    line-height: 100%;
}

 .right {
     float: right;
     margin-left: 20%
 }

 .left {
     float: left;
     margin-left: 20%
 }


