 #header{
     height: 120px;
     width: 100%;
     background-color: palegreen;
     position: fixed;
     z-index: 99999;
 }

.content {
  min-height: 500px; 
  width: 100%;
  height: 100vh;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

 #queniaContent {
    background-image: url("../resources/background/bg_tour_kenya.jpg");
 }

 #tanzaniaContent {
    background-image: url("../resources/background/bg_tour_tanzania.jpg");
    z-index: 9999999999;
 }

 #footer {
     width: 100%;
    height: 100px;
    background-color: red;
 }

 .info {
     position: relative;
     right: 10%;
     top: 350px;
     min-width: 400px;
     width: 25%;
     background-color: rgba(230, 161, 93, 0.692);
     padding: 15px;
     z-index: 9999;
     border-radius: 20px;
 }

 .info>.packs {
     position: relative;
     display: inline-block;
     margin: auto;
     width: 49%;
     border: 2px solid brown;
     border-radius: 20px 20px 0px 0px ;
 }

.packs > .packTitle {
    color: brown;
    font-size: 24px;
    display: block;
}
.packTitle > p{
    text-align: center;
    display: block;
}

.packInfo {
    display: block;
}

.more {
    position: relative;
    display: flex;
    clear: both;
    display: block;
    padding: 10px 0px;
}

.more > div {
    display: inline-block;
    width: 49%;
    text-align: center;
}

.more > div > a {
    width: 60%;
    line-height: 100%;
    padding: 5px;
    background-color: rgba(230, 161, 93, 0.692) 
}

 .right {
     float: right;
     margin-left: 20%
 }

 .left {
     float: left;
     margin-left: 20%
 }


